---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=<app_id>&app_key=<app_key>&q=laos&type=any
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":20,"count":73,"_links":{"next":{"href":"https://api.edamam.com/api/recipes/v2?q=laos&app_key=<app_key>&_cont=CHcWQT1OcV9xBB8VADQWVhFCPwoxXVZEITQeVDcBaR4-SQ%3D%3D&type=any&app_id=<app_id>","title":"Next
        page"}},"hits":[{"recipe":{"uri":"http://www.edamam.com/ontologies/edamam.owl#recipe_ce18874a9d61b5b9f7a74745fc680c14","label":"Lao
        Ginger Shrimp","image":"https://edamam-product-images.s3.amazonaws.com/web-img/c06/c06df96c41b3323d591bf7bd3b9237b3.png?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEAcaCXVzLWVhc3QtMSJHMEUCIFukmLaYs0m%2FHhkrsycZR9WbY7xrDGbqFzQjOGb7hJuuAiEA7WoKJs860q3%2FGVQ1lsL1RlW9hq8DWIWHR%2BBvNfsndlMqzAQIEBAAGgwxODcwMTcxNTA5ODYiDJMaKahCm6pn5PBrUCqpBPSQoDlcImMA6GFFHbZvIoWcLXhJ2nTinoNvMA3erVct63QII%2F6pQrDaMFDaRL2%2BfogMUXyCg5yWnxT4rw5yJ1MZHf%2F9N7t2941kPwQamQBQviBu4N0hKKIWHBrm2H8BxHHNJYjr62dod3AhhzOJdWQZHAVZKyw9CVn%2FiNolXgsQoI9cFNUfOyv90TNU[...]
