---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?channelId=&key=<key>&maxResults=1&part=snippet&q=laos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"Wwlk3SGGHnxa_96pBdvhx-u6YDE\",\n
        \ \"nextPageToken\": \"CAEQAA\",\n  \"regionCode\": \"US\",\n  \"pageInfo\":
        {\n    \"totalResults\": 1000000,\n    \"resultsPerPage\": 1\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"jK_OoGV7IQ6Ly5n30k4d_4ctFKk\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"Bt52XzSrM18\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2022-11-14T10:30:03Z\",\n        \"channelId\": \"UCBQjTfMEcxMlI49KCQAHwYQ\",\n
        \       \"title\": \"LAOS’ NEW High-Speed Train to VIENTIANE \U0001F1F1\U0001F1E6\",\n
        \       \"description\": \"After a lovely start to our trip in Laos, exploring
        the city of Luang Prabang, seeing the gorgeous waterfalls and eating delicious
        ...\",\n        \"thumbnails\": {\n          \"default\": {\n            \"url\":
        \"https://i.ytimg.com/vi/Bt52XzSrM18/default.jpg\",\n            \"width\":
        120,\n            \"height\": 90\n          },\n          \"medium\": {\n
        \           \"url\": \"https://i.ytimg.com/vi/Bt52XzSrM18/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/Bt52XzSrM18/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          }\n        },\n
        \       \"channelTitle\": \"2Passports 1Dream\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"publishTime\": \"2022-11-14T10:30:03Z\"\n      }\n    }\n
        \ ]\n}\n"
  recorded_at: Wed, 16 Nov 2022 06:05:54 GMT
recorded_with: VCR 6.1.0
